/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
    font-family: "Arial";
    font-weight: bold;
    font-size: 18pt;
}
h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 3em;
    font-size: 60pt;
}
a {
    color: black;
}
#reason {
    text-align: center;
    width: 62%;
    margin: 0 auto;
    margin-top: 1em;
}
#excuse {
    margin-top: 1em;
}